# Welcome to Jekyll!
# Site settings
title: Mark Jezriel A. Justo
email: justomarkjezriel@gmail.com
description: >-
  Portfolio of Mark Jezriel A. Justo - Computer Engineering Student, IoT Enthusiast, and Aspiring Developer.
url: "https://EarlJusto24.github.io" # <--- IMPORTANT: This was missing
baseurl: "" # <--- IMPORTANT: This was missing

twitter_username:
github_username: EarlJusto24
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Asia/Manila # <--- Set to your timezone

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Mark Jezriel A. Justo"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Aspiring Computer Engineering student learning AI, Embedded Systems, and Game Development."
  location: "Philippines"
  links:
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      url: "https://www.facebook.com/EarlJusto24/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/EarlJusto24"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/EarlJusto24"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true

collections:
  portfolio:
    output: true
    permalink: /:collection/:path/

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
